a.disabled {
  pointer-events: none;
  cursor: default;
  color: #cccccc;
  opacity: .5;
}


#goup {
    bottom: 20px;
    display: none;
    height: 50px;
    left: auto;
    overflow: hidden;
    padding: 17px 16px;
    position: fixed;
    right: 20px;
    top: auto;
    width: 55px;
    z-index: 90;
}

.img-cat{
  max-width: 320px;
  height: auto;
}

.input-group-addon:first-child {
    border-right: 0;
}

.input-group .form-control:first-child, .input-group-addon:first-child, .input-group-btn:first-child>.btn, .input-group-btn:first-child>.btn-group>.btn, .input-group-btn:first-child>.dropdown-toggle, .input-group-btn:last-child>.btn-group:not(:last-child)>.btn, .input-group-btn:last-child>.btn:not(:last-child):not(.dropdown-toggle) {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.input-group-addon {
    padding: 6px 12px;
    font-size: 14px;
    font-weight: 400;
    line-height: 1.6;
    color: #555;
    text-align: center;
    background-color: #eee;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.input-group-addon, .input-group-btn {
    white-space: nowrap;
    vertical-align: middle;
}

.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}

.heart{
    cursor: pointer;
}